<div class="mt4">
    <h2>Thêm sinh viên</h2>
    <form method="POST" action="/store">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">MSSV</label>
            <input type="text" name="MSSV" class="form-control" id="exampleInputPassword1">
        </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Địa Chỉ</label>
            <input type="text" name="address" class="form-control" id="exampleInputPassword1">
        </div>
           <select id="sex" name="sex">
    <option value="Nữ">Nữ</option>
    <option value="Nam">Nam</option>
  </select>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>