<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng nhập</title>
</head>
<body>
  


<link rel="stylesheet" href="/css/login.css">


  <div class="container" style="z-index: -1;">
    <div class="dangnhap_layer">
      <div class="dangnhap_text">
        <h1 id="gsap_id">Đăng nhập</h1>
      </div>

      <form action="/login" class="form_dn" method="POST">

        <div class="dangnhap_input_div">
          <input onclick="addCssClickIn(labelUserName,spanUsername,input_tk)" type="text" name="Username"
            class="dangnhapinput--2" value="" id="input_tk">
          <label onclick="addCssClickIn(labelUserName,spanUsername,input_tk)" for="hidden1" class="username"
            id="labelUsername">Tên người
            dùng</label>
          <span class="password" id="spanUsername">Tên người
            dùng</span>

        </div>
        <div class="dangnhap_input_div">
          <input onclick="addCssClickIn(labelPassWord,spanPassWord,input_mk)" type="password" name="password"
            class="dangnhapinput--1" value="" id="input_mk">
          <label onclick="addCssClickIn(labelPassWord,spanPassWord,input_mk)" for="hidden2" class="username"
            id="labelPassword">Mật khẩu</label>
          <span id="spanPassword" class="password">Mật
            khẩu</span>
        </div>
        {{#if message}}
        <div class="">
          <span class="validation warning">{{{message}}} </span>
        </div>
        {{/if}}
        <div class="forget_save_div">

          <div class="forget_pass">
            <a href="" class="forget_pass_text">Quên mật khẩu</a>
          </div>
          <div class="checkbox_div">
            <input type="checkbox"><span class="checkbox_mk">Lưu mật khẩu</span>
          </div>
        </div>

        <div class="sumbit_button">
          <input type="submit" class="sumbit" id="sumbit_btn" value="Đăng nhập">
        </div>
        <div class="forget_pass dangky_href">
          <a href="/dangky" class="forget_pass_text">Đăng ký</a>
        </div>
    </div>
    </form>


  </div>
  </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/split-type"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
  integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/login.js"></script>
<script>
  const headerLayout=document.getElementsByClassName("header")
  console.log(headerLayout)
  window.addEventListener("scroll",(e)=>
  {
  console.log('Đã cuộn trang');
  }
  )
</script>