<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Quản lý sinh viên</title>
  <link rel="stylesheet" href="/css/lol.css">
<link rel="icon" href=
"https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/295681357_1774523759579256_801317921686424371_n.jpg?_nc_cat=105&cb=99be929b-59f725be&ccb=1-7&_nc_sid=ae9488&_nc_ohc=v-6VWe6BrgYAX80ONIR&_nc_ht=scontent.fhan2-4.fna&oh=03_AdSwYJh1ok_drxF9je6GXyb4gb7_ey_In74dRC0GzPby_Q&oe=64D9CA7C" type="image/gif" sizes="16x16">
</head>

<body>
  <div class="header">
    {{>header}}
  </div>
  <div class="container">
    {{{body}}}
  </div>
  <div class="footer">
    {{>footer}}
  </div>

  <script src="/js/lol.js"></script>

</body>

</html>