<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Liên Minh Huyền Thoại</title>
<link rel="stylesheet" href="/css/lol.css">
<link rel="icon" href="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.15752-9/275906745_1420278861746534_5029465717397909457_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=zsLrCp4Hn7IAX8tt-fx&_nc_ht=scontent.fhan2-3.fna&oh=03_AdQ--uQD4l8x3jIkJGNhlrgpCFFFNIZaOGmOumzG8yoJ1A&oe=646F7CD8" type="image/x-icon">
</head>

<body>
  <div class="header">
    {{>header}}
  </div>
  <div class="container">


    {{{body}}}
  </div>
  <div class="footer">
    {{>footer}}
  </div>

    <script src="/js/lol.js"></script>

</body>

</html>